<a href="https://colab.research.google.com/github/Weedmastercrucifer/Neural-Networks-and-Fuzzy-Logic/blob/main/Assignment1Details/Assignment1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Assignment 1 Q10

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Assignment1NNFL/Copy of data_q6_q7.txt', delimiter="\t", error_bad_lines= False)

b'Skipping line 8: expected 8 fields, saw 10\nSkipping line 36: expected 8 fields, saw 10\nSkipping line 61: expected 8 fields, saw 9\nSkipping line 69: expected 8 fields, saw 9\nSkipping line 107: expected 8 fields, saw 9\nSkipping line 136: expected 8 fields, saw 9\nSkipping line 170: expected 8 fields, saw 9\nSkipping line 171: expected 8 fields, saw 9\nSkipping line 173: expected 8 fields, saw 9\nSkipping line 202: expected 8 fields, saw 9\nSkipping line 204: expected 8 fields, saw 9\n'

In [ ]:
data.shape

(198, 8)

In [ ]:
train_split = 0.70
test_split = 0.30

In [ ]:
data.iloc[:,0:7]=(data.iloc[:,0:7]-(data.iloc[:,0:7]).min())/((data.iloc[:,0:7]).max()-(data.iloc[:,0:7]).min())

In [ ]:
data

        15.26     14.84     0.871     5.763     3.312     2.221      5.22  1
0    0.405099  0.446281  0.662432  0.368806  0.501069  0.033497  0.215165  1
1    0.349386  0.347107  0.879310  0.220721  0.503920  0.256149  0.150665  1
2    0.306893  0.316116  0.793103  0.239302  0.533856  0.197870  0.140817  1
3    0.524079  0.533058  0.864791  0.427365  0.664291  0.078133  0.322994  1
4    0.357885  0.371901  0.789474  0.274212  0.486101  0.224758  0.215165  1
..        ...       ...       ...       ...       ...       ...       ... ..
193  0.151086  0.163223  0.637024  0.134009  0.250178  0.379594  0.172821  3
194  0.060434  0.097107  0.390200  0.135698  0.117605  0.471516  0.238306  3
195  0.246459  0.258264  0.727768  0.189752  0.429081  1.000000  0.264402  3
196  0.118036  0.165289  0.399274  0.155405  0.146828  0.375224  0.258493  3
197  0.161473  0.192149  0.547187  0.193694  0.245189  0.645293  0.267848  3

[198 rows x 8 columns]

In [ ]:
  data = data.to_numpy()

In [ ]:
data[:, -1]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.,
       3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3.])

In [ ]:
class1, class2, class3 = data[:68], data[68:136], data[136:]

In [ ]:
class1.shape

(68, 8)

In [ ]:
np.random.shuffle(class1)
np.random.shuffle(class2)
np.random.shuffle(class3)

In [ ]:
X = np.concatenate((class1[:int(0.7*len(class1))], class2[:int(0.7*len(class2))], class3[:int(0.7*len(class3))]))

In [ ]:
test = np.concatenate((class1[int(0.7*len(class1)):], class2[int(0.7*len(class2)):], class3[int(0.7*len(class3)):]))

In [ ]:
xlen = len(X)

In [ ]:
class_train = [(X[:int(xlen/3), :7]).T, (X[int(xlen/3):2*int(xlen/3), :7]).T,
                (X[2*int(xlen/3):, :7]).T]

In [ ]:
# calculate covariance matrices
cov = [np.cov(class_train[0]), np.cov(class_train[1]), np.cov(class_train[2])]

In [ ]:
# calculate means for each class 
means = [np.mean(class_train[0], axis=1), np.mean(class_train[1], axis=1), np.mean(class_train[2], axis=1)]

In [ ]:
# Likelihood function 
def likelihood(x, c):
    den = np.sqrt(2 * np.pi * np.linalg.det(cov[c])) 
    pow = -0.5 * np.dot(np.dot((x-means[c]).T,np.linalg.inv(cov[c])), (x-means[c]))
    return float(np.exp(pow) / den)

In [ ]:
# initialize confusion matrix
confusion_matrix = np.zeros((3,3))

In [ ]:
for row in test:

    # calculate predicted class
    l = np.argmax([likelihood(row[:7], i) for i in range(3)]) + 1

    # update confusion matrix
    confusion_matrix[int(row[-1])-1, l-1] += 1

In [ ]:
c1 = confusion_matrix[0,0] / np.sum(confusion_matrix[0])
c2 = confusion_matrix[1,1] / np.sum(confusion_matrix[1])
c3 = confusion_matrix[2,2] / np.sum(confusion_matrix[2])
total_accuracy = (confusion_matrix[0,0] + confusion_matrix[1,1] + confusion_matrix[2,2]) / np.sum(confusion_matrix)

In [ ]:
print("Total accuracy: ", total_accuracy)
print("Class 1 accuracy: ", c1)
print("Class 2 accuracy: ", c2)
print("Class 3 accuracy: ", c3)

Total accuracy:  0.9344262295081968
Class 1 accuracy:  0.85
Class 2 accuracy:  1.0
Class 3 accuracy:  0.95